<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="center jumbotron">
  <% if user_signed_in? %>
    <%= render 'products/index' %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
	<% end %>
</div>

