<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to image_tag("logo.png", alt: "logo", class: "logo"), root_path %>
	  <nav>
		<ul class="nav navbar-nav navbar-right">
		  <li><%= link_to "Home",    root_path %></li>
		  <li><%= link_to "Dashboard", products_path %></li>
		  <% if signed_in? %>
                <li><%= link_to "Настройки", edit_user_registration_path %></li>
                <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
                      <% else %>
            <li><%= link_to "Войти", new_user_session_path %></li>
      <% end %>
		</ul>
	  </nav>
	</div>
</header>